{% extends "parent/base.html" %}
{% load staticfiles %}
{% block student_name %} Viewing: {{student.first_name}} {{student.last_name}} {% endblock student_name %}
{% block greeting %} {{parent.surname}} {{parent.last_name}} {% endblock greeting %}
{% block student_avatar %}{{student.avatar}}{% endblock student_avatar %}



{% block modals %}
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Siya's Video Review</h4>
      </div>
      <div class="modal-body">
<div class="center-block">
        <video width="100%" height="auto" controls class="center-block">
  <source src="{% static "bookaround/videos/junie.mp4" %}" type="video/mp4">
  Your browser does not support the video tag.
</video>
</div>


<!--          <img class=" img-responsive img-thumbnail"1
         src="{% static "bookaround/images/recommend_book.png" %}" alt="review"/>-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <a href="viewbook" class="btn btn-info btn-block"> Explore This Book</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<div class="modal fade" id="readingConvoStarter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Conversation Starters</h4>
      </div>
      <div class="modal-body">
<div class="center-block">
  <ul>
    <li> "I see you're reading '{{am_read_books.0.title}}'. How do you like it?"</li>
    <li> "I see you've read '{{have_read_books.0.title}}'. What did you think of it?"</li>
    <li> "I see you want to read '{{want_read_books.0.title}}'. Why is that?"</li>
  </ul>
</div>


<!--          <img class=" img-responsive img-thumbnail"1
         src="{% static "bookaround/images/recommend_book.png" %}" alt="review"/>-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{%endblock modals %}








{% block content %}
<style>

</style>
<br/>
<div class="row">
<div class="col-sm-12">
<form class="form-horizontal" role="form">
  <div class="form-group">
    <div class="col-sm-2">
      <h1 class=" control-label centered">{{student.first_name}} is Reading</h1>
      <p><a href="#" class="btn btn-block btn-info" role="button" data-toggle="modal" data-target="#readingConvoStarter">Conversation Starters</a> </p>
    </div>
  <div class="col-sm-10">
    {% for book in am_read_books %}
    <div class="col-sm-3">
      <div class="thumbnail">     
      <img src="{{book.thumbnail}}"/>
        <div class="caption">
                <p class="text-center ">{{book.title}}</p>
                 <p><a href="#" class="btn btn-info btn-block" role="button" data-toggle="modal" data-target="#myModal">Watch a Review</a> </p>
           <p><a href="http://www.amazon.com" class="btn btn-info btn-block" target="_blank">Amazon</a> </p> 
                 </div>
      </div>
    </div>
    {% endfor %}
  </div>

  </div><br/>


  <div class="form-group">
    <div class="col-sm-2">    
    <h1 class=" control-label">{{student.first_name}} Wants to Read</h1>
      <p><a href="#" class="btn btn-block btn-info" role="button" data-toggle="modal" data-target="#readingConvoStarter">Conversation Starters</a> </p>  
      </div>  
    <div class="col-sm-10">

    {% for book in want_read_books %}
   <div class="col-sm-3">
    <div class="thumbnail">
        <img src="{{book.thumbnail}}"/>
        <div class="caption">
          <p class="text-center ">{{book.title}}</p>
           <p><a href="#" class="btn btn-info btn-block" role="button" data-toggle="modal" data-target="#myModal">Watch a Review</a> </p>
           <p><a href="http://www.amazon.com" class="btn btn-info btn-block" target="_blank">Amazon</a> </p> 
           </div>
    </div>
  </div>   
    {% endfor %}




    </div>
  </div><br/>


    <div class="form-group">
    <div class="col-sm-2">
    <h1 class=" control-label">{{student.first_name}} Has Read</h1>
      <p><a href="#" class="btn btn-block btn-info" role="button" data-toggle="modal" data-target="#readingConvoStarter">Conversation Starters</a> </p> 
      </div>   
    <div class="col-sm-10">

    {% for book in have_read_books %}
   <div class="col-sm-3">
    <div class="thumbnail">
        <img src="{{book.thumbnail}}"/>
        <div class="caption">
          <p class="text-center ">{{book.title}}</p>
           <p><a href="#" class="btn btn-info btn-block" role="button" data-toggle="modal" data-target="#myModal">Watch a Review</a> </p>
           <p><a href="http://www.amazon.com" class="btn btn-info btn-block" target="_blank">Amazon</a> </p> 
           </div>
    </div>
  </div>   
    {% endfor %}





    </div>
    </div>
  </div><br/>



</form>

</div>


  {% endblock content %}