{% load staticfiles %}


<head>
    <title>BookAround</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static "bookaround/css/bootstrap-theme.css" %}" type="text/css">
<link rel="stylesheet" href="{% static "bookaround/css/bootstrap.css" %}" type="text/css">
<link rel="stylesheet" href="{% static "bookaround/css/carousel.css" %}" type="text/css">
<script src="{% static "bookaround/js/jquery.js" %}" type="text/JavaScript"> </script>
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>
<body>

{% block modals %}

{% endblock modals %}

{% block content %}

Content goes here...

{% endblock content %}



</body>