{% extends "base.html" %}

{% block content %}


{% endblock %}





{% load staticfiles %}


<head>
    <title>BookAround</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static "bookaround/css/bootstrap-theme.css" %}" type="text/css">
<link rel="stylesheet" href="{% static "bookaround/css/bootstrap.css" %}" type="text/css">
<link rel="stylesheet" href="{% static "bookaround/css/carousel.css" %}" type="text/css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>


<div class="container">
            <div class="row" id="login">
                <div class="col-md-4 col-md-offset-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Please Sign in</h3>
                        </div>
                        <div class="panel-body">

Logged out!
                        </div>
                    </div>
                </div>
             
            </div>
        </div>