{% load staticfiles %}
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    
    <title>Bookaround</title>
    <link rel="shortcut icon" href="{% static "bookaround/images/b.png" %} " >   
    <link href="{% static "bookaround/under_construction/css/bootstrap.css" %}" rel="stylesheet" />
	<link href="{% static "bookaround/under_construction/css/coming-sssoon.css" %}"  rel="stylesheet" />
    
    <!--     Fonts     -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>
 <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'> 
 
</head>

<body>
<!--<nav class="navbar navbar-transparent navbar-fixed-top" role="navigation">  -->
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <!--<div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
         <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"> 
                <img src="images/flags/US.png"/>
                English(US) 
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#"><img src="images/flags/DE.png"/> Deutsch</a></li>
                <li><a href="#"><img src="images/flags/GB.png"/> English(UK)</a></li>
                <li><a href="#"><img src="images/flags/FR.png"/> Français</a></li>
                <li><a href="#"><img src="images/flags/RO.png"/> Română</a></li>
                <li><a href="#"><img src="images/flags/IT.png"/> Italiano</a></li>
                
                <li class="divider"></li>
                <li><a href="#"><img src="images/flags/ES.png"/> Español <span class="label label-default">soon</span></a></li>
                <li><a href="#"><img src="images/flags/BR.png"/> Português <span class="label label-default">soon</span></a></li>
                <li><a href="#"><img src="images/flags/JP.png"/> 日本語 <span class="label label-default">soon</span></a></li>
                <li><a href="#"><img src="images/flags/TR.png"/> Türkçe <span class="label label-default">soon</span></a></li>
             
              </ul>
        </li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="#"> 
                    <i class="fa fa-facebook-square"></i>
                    Share
                </a>
            </li>
             <li>
                <a href="#"> 
                    <i class="fa fa-twitter"></i>
                    Tweet
                </a>
            </li>
             <li>
                <a href="#"> 
                    <i class="fa fa-envelope-o"></i>
                    Email
                </a>
            </li>
       </ul>
      
    </div> /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
<div class="main" style="">

<!--    Change the image source '/images/default.jpg' with your favourite image.     -->
    
    <div class="cover black" data-color="black"></div>
     
<!--   You can change the black color for the filter with those colors: blue, green, red, orange       -->

    <div class="container">
        <h1 class="logo cursive">
            Bookaround <img src="{% static "bookaround/under_construction/images/cisoun-tux-tux-ya-kelk1.png" %}" />
        </h1>
<!--  H1 can have 2 designs: "logo" and "logo cursive"           -->
            <h4 class="motto logo cursive" style="font-size:25px">Coming soon...</h4>        
        <div class="content">


          <div class="subscribe">
                <h5 class="info-text">
                <h4 class="motto-bookaround">The Platform:</h4>
                <h5 class="info-bookaround">
                    <p>Bookaround is an innovative web platform that helps elementary age students become life-long readers. Students create and share video book recommendations with friends while at the same time they receive recommended books at their interest and independent reading levels.</p>
                </h5>  
                <h4 class="motto-bookaround">The Research:</h4>
                <h5 class="info-bookaround">
                    <p>Only 35% of fourth graders finished the 2013 school year as proficient readers.   Social learning frameworks in which students are encouraged to share their ideas create the most motivated learners and dramatically improve the quality of social relationships among elementary school children. </p>
                </h5>
                 <h4 class="motto-bookaround">Our Story:</h4>
                 <h5 class="info-bookaround">
                    
                    <p>Mark, our founder, was an elementary school teacher for five years where he saw students fall in and out of love with reading.  He decided using a digital collaboration tool, kids could not only motivate each other to read, but take the isolation out of tech intervention and learn digital citizenship skills.</p>
                    <p>BookAround was born at Austin’s first ever Startup Weekend for Education and is excited to help elementary readers of all levels grow starting in Spring 2015.</p>
                </h5>               
                <h4 class="motto-bookaround">Our Team:</h4>
        <h1 class=" team_photo">
            <img src="{% static "bookaround/under_construction/images/danforth_100.png" %}"></img>
        </h1>                
                  <h5 class="info-bookaround">
                    <p><span class="name">Mark Danforth</span>  - <span class="title">Educator and Founder</span> As an elementary school teacher in Oakland, California, Mark loved watching the kiddos fall in love with books and technology.  Mark hated, however, when his students and their families would tell tales of confusing and inaccessible digital resources and declining reading skills.  In 2014, Mark left the classroom to work on a solution for the young learners-a simple web platform that would help students fall in love with reading and provide parents with accessible support and progress reports.  In July, 2014, BookAround was born!</p>
                </h5>  
                 <h5 class="info-bookaround">
                    <p><span class="name">Jesse Smith</span>  - <span class="title">Web Developer Extraordinaire</span> Jesse loves making things.  From all natural soaps to complex web algorithms, Jesse has never shied away from an undertaking big or small thanks to his intrinsic love for learning internet savvy.  He hopes that through working with BookAround he may help a new generation of learners build confidence and a love for using web platforms as learning resources!</p>
                </h5>  
                 <h5 class="info-bookaround">
                    <p><span class="name">Ryan Torbey</span> - <span class="title">Educator in Chief</span> As a career educator currently working as a tech teacher and coach in the Austin area, Ryan’s business savvy background and eager pool of test subjects are helping make BookAround  a reality.</p>
                </h5>                  
 
                
                
                <h4 class="motto-bookaround" style="font-size:3.5em" id="reach_out">Reach Out!</h4>
                <h5 class="info-bookaround" style="margin-bottom:20px" id="connect_tag">
                    Connect with us by e-mail  if you and your young learner would like to be part of our beta test group and receive a free access to BookAround for life!
                </h5>                  
                <div class="row" id="connect_box">
                    <div class="col-md-4 col-md-offset-4 col-sm6-6 col-sm-offset-3 ">
                        <form class="form-inline my-form" role="form">
                          <div class="form-group">
                            <label class="sr-only" for="exampleInputEmail2">Email address</label>
                            <input type="email" class="form-control transparent" placeholder="Your email here..." id="email_subscribe">
                          </div>
                          <input type="button" name="submit" value="Notify Me" class="btn btn-danger btn-fill" id="email_submit"></input>
                        </form>
                    </div>
                </div>
                <h5 class="info-bookaround" style="margin-bottom:20px; text-align:center" >
                    In the meantime, follow us on twitter <a href="https://twitter.com/TheBookAround" style="text-decoration:none;color:white" target="_blank">@TheBookAround!</a>
                </h5>                  
            </div>
        </div>
    </div>
<!--    <div class="footer">
      <div class="container">
             Made with <i class="fa fa-heart heart"></i> by <a href="http://www.creative-tim.com">Creative Tim</a>. Free download <a href="http://www.creative-tim.com/product/coming-sssoon-page">here.</a>
      </div>
    </div> -->
 </div>
 </div>
 </body>
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
   <script src="{% static "bookaround/under_construction/js/bootstrap.min.js" %}" type="text/javascript"></script>
<script>

function IsEmail(email) {
  var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
  return regex.test(email);
}

$(document).ready(function (){

    $('#email_submit').on('click', function() {
    var val = $('#email_subscribe').val()
    
    if (IsEmail(val)){


      $.ajax({
        type:"POST",
        url: "https://docs.google.com/forms/d/1ykmVWec2waiiAGzVcBCiiLBgA2LCplYCWVi7jLt65ww/formResponse",
        data: {
          'entry.2142944800': val
        },
        dataType: "xml",
      });
      $("#connect_box").hide()
      $("#connect_tag").hide()
      $("#reach_out").text("Thanks for signing up!")
    
}else{
    alert("Do you have a typo in your email address?")
}

});
});
</script>
</html>